In [24]:
a_list = []
type(a_list)

list

In [25]:

for num in range (1, 101):
    a_list.append(num)

In [27]:
len(a_list)

100

In [30]:
names = [["Ada", "Boal"], 
        ["Paul", "Boal"], 
         ["Teddy", "Boal"], ["Daisy", "Duck"], ["Donald", "Duck"], ['Eric', 'Westhus']]

In [112]:
[name[0] + " " + name[1] for name in names]

['Ada Boal',
 'Paul Boal',
 'Teddy Boal',
 'Daisy Duck',
 'Donald Duck',
 'Eric Westhus']

In [118]:
vals = [3.14, 1.41]
vals.append([2.72])
vals = vals + ['i']

In [119]:
vals

[3.14, 1.41, [2.72], 'i']

In [115]:
(a, b) = (['Paul','Alex','Linda','Kathy','Amit','Samira'], [41, 38, 30, 43, 41, 40, 34, 52])
len(a[5])

6

In [38]:
for name in names:
    first_name = name[0]
    last_name = name [1]
    print("{} is a {}".format(first_name, last_name))

Ada is a Boal
Paul is a Boal
Teddy is a Boal
Daisy is a Duck
Donald is a Duck
Eric is a Westhus

In [41]:
ordered_names = []
for name in names:
    ordered_names.append([name[1], name[0]])

In [42]:
ordered_names

[['Boal', 'Ada'],
 ['Boal', 'Paul'],
 ['Boal', 'Teddy'],
 ['Duck', 'Daisy'],
 ['Duck', 'Donald'],
 ['Westhus', 'Eric']]

In [43]:
 ordered_names.sort()

In [44]:
ordered_names

[['Boal', 'Ada'],
 ['Boal', 'Paul'],
 ['Boal', 'Teddy'],
 ['Duck', 'Daisy'],
 ['Duck', 'Donald'],
 ['Westhus', 'Eric']]

In [45]:
for name in ordered_names:
    print("{} {}".format(name[1], name[0]))

Ada Boal
Paul Boal
Teddy Boal
Daisy Duck
Donald Duck
Eric Westhus

In [46]:
a_list = [1, 2, 5, 4, 3, 2, 1, 5]

In [47]:
type(a_list)

list

In [48]:
a_list

[1, 2, 5, 4, 3, 2, 1, 5]

In [49]:
a_set = set(a_list)

In [50]:
type(a_set)

set

In [51]:
a_set

{1, 2, 3, 4, 5}

In [52]:
a_set{0}

SyntaxError: invalid syntax (<ipython-input-52-c183e658cf3f>, line 1)

In [64]:
import random

In [65]:
random.randrange(1,11)

7

In [68]:
from random import randrange

In [67]:
a_list = []
for i in range(100):
    a_list.append(randrange(1,101))

In [69]:
a_list

[3,
 66,
 95,
 5,
 97,
 56,
 38,
 50,
 47,
 62,
 44,
 2,
 42,
 37,
 34,
 39,
 75,
 52,
 17,
 7,
 25,
 44,
 64,
 22,
 44,
 14,
 74,
 78,
 41,
 58,
 1,
 55,
 11,
 13,
 53,
 69,
 52,
 30,
 71,
 61,
 64,
 10,
 5,
 40,
 70,
 2,
 88,
 19,
 68,
 62,
 4,
 36,
 7,
 10,
 50,
 45,
 38,
 24,
 48,
 2,
 24,
 2,
 75,
 82,
 89,
 59,
 81,
 82,
 13,
 34,
 42,
 67,
 10,
 84,
 87,
 40,
 21,
 40,
 83,
 62,
 53,
 5,
 5,
 76,
 25,
 62,
 89,
 83,
 70,
 55,
 11,
 61,
 33,
 82,
 33,
 44,
 92,
 56,
 38,
 31]

In [71]:
len(set(a_list))

61

In [83]:
tup = tuple('string')

In [84]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [85]:
patient_ages = {'Jones': 89, 'Andrews': 22, 'Abrams': 9}

In [88]:
for k, v in patient_ages.items():
    print(k + " is " + str(v))

Jones is 89
Andrews is 22
Abrams is 9

In [90]:
family = {}

In [91]:
families ={}

In [103]:
families = {
    "Buckhold": [
        {"First Name": "Fred", "Age": 40},
        {"First Name": "Gretchen", "Age": 41}, 
        {"First Name": "Elizabeth", "Age": 13}
    ],
    "Nuetzel": [
        {"First Name": "Bill", "Age": 70},
        {"First Name": "Judy", "Age": 74}
    ]
}

In [104]:
families

{'Buckhold': [{'First Name': 'Fred', 'Age': 40},
  {'First Name': 'Gretchen', 'Age': 41},
  {'First Name': 'Elizabeth', 'Age': 13}],
 'Nuetzel': [{'First Name': 'Bill', 'Age': 70},
  {'First Name': 'Judy', 'Age': 74}]}

In [110]:
for family, members in families.items():
    print ("****")
    print (members)
    count = len(members)
    total_age = 0
    for members in members: 
        total_age += members["Age"]
    print ("The average age of {} of {} is {}".format(count, family, total_age / count))

****
[{'First Name': 'Fred', 'Age': 40}, {'First Name': 'Gretchen', 'Age': 41}, {'First Name': 'Elizabeth', 'Age': 13}]
The average age of 3 of Buckhold is 31.333333333333332
****
[{'First Name': 'Bill', 'Age': 70}, {'First Name': 'Judy', 'Age': 74}]
The average age of 2 of Nuetzel is 72.0